<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VTPAI08_2021</title>
	<link rel="stylesheet" href="../static/w3.css" type="text/css">
</head>
<body style="background-image: url('../static/bg.jpg')">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/mhome" class="w3-bar-item w3-button">Home</a>
  <a href="/mrobot" class="w3-bar-item w3-button">Robot Details</a>
  <a href="/mprod" class="w3-bar-item w3-button">Products</a>
  <a href="/mpart" class="w3-bar-item w3-button">Sent Parts</a>
  <a href="/mrev" class="w3-bar-item w3-button">Review Product</a>
  <a href="/logout" class="w3-bar-item w3-button">Logout</a>
</div>
<div style="margin-left:25%">
<div class="w3-container w3-center w3-red  w3-xxlarge w3-serif">
<h1 style="text-align:'center'">Human Robot Collaboration</h1>
</div>
<br><br><br>
<div class="w3-container w3-margin-top w3-blue" style="margin-top:25%">
<h2>Product Details</h2>
<table class="w3-table w3-striped w3-bordered w3-hoverable w3-center">
<thead>
<tr class="w3-teal">
<th>Robot</th><th>Part</th><th>Manufacture Date</th><th>Approve</th><th>Reject</th>
</tr>
</thead>
{% for x in result %}
<tbody>
<tr>
<td>{{ x [2] }}</td>
<td>{{ x [3] }}</td>
<td>{{ x [4] }}</td>
<td><a href='/mapprove/{{ x[0] }}' class="w3-btn w3-teal">Approve</a></td>
<td><a href='/mreject/{{ x[0] }}' class="w3-btn w3-teal">Reject</a></td>
</tr></tbody>
{% endfor %}
</table>
</div>
</div>
</body>
</html>