<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VTPAI08_2021</title>
	<link rel="stylesheet" href="../static/w3.css" type="text/css">
</head>
<body style="background-image: url('../static/bg.jpg')">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/rhome" class="w3-bar-item w3-button">Home</a>
  <a href="/rparts" class="w3-bar-item w3-button">Parts</a>
  <a href="/rprod" class="w3-bar-item w3-button">Product</a>
  <a href="/logout" class="w3-bar-item w3-button">Logout</a>
</div>
<div style="margin-left:25%">
<div class="w3-container w3-center w3-red  w3-xxlarge w3-serif">
<h1 style="text-align:'center'">Human Robot Collaboration</h1>
</div>
<br><br><br>
<div class="w3-container w3-margin-top w3-center w3-blue" style="margin-top:25%">
 {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}
<h2>Send Final Product</h2>
<form class="w3-container" action="/rsent" method="POST">
  <p>
  <label>Part</label>
  <select class="w3-input w3-border w3-round-large" name='part'>
  <option value="">---Select---</option>
  {% for x in result %}
  <option value={{ x[0] }}>{{ x[0] }}</option>
  {% endfor %}
  </select>
  </p>
  <p>
  <label>Manufatured Date</label>
  <input class="w3-input w3-border w3-round-large" type="text" name='da'></p>
  <p>
  <button class="w3-btn w3-teal">Send</button></p>
</form>
</div>
</div>
</body>
</html>